.CategorySearch {
    position: absolute;
    width: 95%;
    height: 91%;
    top: 8%;
    right: 3%;
}

.CategorySearch .title {
    position: absolute;
    font-size: var(--font-title-large);
    direction: rtl;
    top: 5%;
    right: 1%;
}

.CategorySearch .categories {
    position: absolute;
    display: flex;
    flex-flow: row-reverse wrap;
    right: 2%;
    width: 100%;
    height: 40%;
    top: 15%;
    gap: 5%;
}

.CategorySearch .category {
    font-size: var(--font-title-large);
    color: var(--white);
    transition: all 0.3s ease;
    display: inline-block;
}

.CategorySearch .category:hover {
    color: var(--blue);
    transform: rotate(3deg) scale(1.1);
}

.CategorySearch .search-results {
    position: absolute;
    display: flex;
    flex-flow: row-reverse wrap;
    right: 0%;
    width: 100%;
    height: 30%;
    top: 60%;
    gap: 5%;
}

.CategorySearch .entry-title {
    font-size: var(--font-small);
    transition: all 0.3s ease;
}

.CategorySearch .entry-title:hover {
    color: var(--blue);
    transform: translateY(-5px);
}