.CustomerView{
    background-image: url("/Customer/CustomerViewBackground.png");
    animation: fadeIn 2s ease-in-out;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Might have to change the size of the character sprite later,
   since all the sprites need to be the same sizes and now theyre not */
.character-sprite {
    width: 27vw;
    height: 68.35vh;
    position: fixed;
    left: 16vw;
    top: 5.25vh;
}