.CustomerView{
    background-image: url("/Customer/CustomerViewBackground.png");
    animation: fadeIn 2s ease-in-out;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.character-sprite {
    width: 44vw;
    height: 71vh;
    position: fixed;
}

.character-sprite.entering {
    animation: customerSlide 2s ease-in-out forwards, customerBrighten 2s ease-out forwards;
}

@keyframes customerSlide {
    0% {
        left: -50vw;
        filter: brightness(0);
    }
    
    100% {
        left: 1vw;
        filter: brightness(0);
    }
}

@keyframes customerBrighten {
    0% {
        filter: brightness(0);
    }
    
    100% {
        filter: brightness(1);
    }
}