.Letter {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33vw;
    position: fixed;
}

.Letter.closed {
    background-image: url("/Monitor/letter_closed.png");
    height: 38vh;
    margin-top: 35vh;
    margin-left: 6.5vw;
    box-shadow: -0.5em 0.5em 0 0 rgba(0, 0, 0, 0.2);
}

.Letter.open {
    background-image: url("/Monitor/letter_open.png");
    height: 65vh;
    margin-top: 8.5vh;
    margin-left: 6.5vw;
    filter: drop-shadow(-0.5em 0.5em 0 rgba(0,0,0,0.2));
}

.Letter .protocol {
    font-size: var(--font-largest);
    color: var(--text);
    position: absolute;
    top: 13%;
    left: 9.5%;
    user-select: none;
}

.Letter.open .protocol {
    display: none;
}

.Letter .src-adress {
    font-size: var(--font-regular);
    position: absolute;
    bottom: 25%;
    right: 8%;
}

.Letter.open .src-adress {
    bottom: 7%;
    right: 8.5%;
}


.Letter .dest-adress {
    font-size: var(--font-regular);
    position: absolute;
    bottom: 13%;
    right: 8%;
}

.Letter.open .dest-adress {
    bottom: 13.5%;
    right: 8.5%;
}

.Letter .port {
    font-size: var(--font-regular);
    position: absolute;
    left: 8%;
    bottom: 13%;
}

.Letter.open .port {
    left: 9%;
    bottom: 7%;
}

.letter-text-container {
  width: 85%;
  height: 75%;
  left: 7.5%;
  position: absolute;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between; /* Distribute space between items */
}

.Letter .header {
  font-size: var(--font-title-large);
  text-align: center;
}

.Letter .footer {
  font-size: var(--font-title-large);
  text-align: center;
}

.Letter .letter-text {
  font-size: var(--font-small);
  margin-bottom: 0.5rem; /* Add gap below text */
}

.Letter .link {
  font-size: var(--font-small);
}

.Letter .link .clickable {
    color: var(--red);
}

.Letter .link .clickable:hover {
    color: var(--pink);
}

.Letter .header,
.Letter .footer,
.Letter .letter-text,
.Letter .link {
  position: relative;
  text-align: center;
  color: var(--text);
  width: 100%;
}

.Letter .stamp-hover {
    background-color: red;
}