.NameSearch {
    position: absolute;
    width: 93.5%;
    height: 91%;
    top: 8%;
    right: 3%;
}

.NameSearch .title {
    position: absolute;
    font-size: var(--font-title-large);
    direction: rtl;
    top: 5%;
    right: 1%;
}

