.NavigationScreen {
    background-color: var(--black);
    width: 100%;
    height: 100%;
}

.NavigationScreen .title {
    position: absolute;
    width: 25%;
    height: 10%;
    right: 37%;
    top: 5%;
    background: url('/NavigationScreen/title_box.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.NavigationScreen .title p {
    text-align: center;
    font-size: var(--font-gargentuan);
}

.NavigationScreen .navigation-circles {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 23%;
    left: 10%;
    width: 80%;
    height: 60%;
    background: url('./NavigationScreen/connection_lines_zig_zag.png');
    background-size: 90% 85%;
    background-repeat: no-repeat;
    background-position: center 100%;
    gap: 2.2rem 2rem;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.NavigationScreen .navigation-circle {
    text-align: center;
    width: 9vw;
    height: 9vw;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}


.NavigationScreen .navigation-circle:hover {
    transform: scale(1.15);
}


.NavigationScreen .navigation-circle p {
    font-size: var(--font-regular);
    position: relative;
    z-index: 1;
}

.NavigationScreen .edge-chapter-circle {
    background: url('/NavigationScreen/edge_chapter_circle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.NavigationScreen .regular-chapter-circle {
    background: url('/NavigationScreen/regular_chapter_circle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.NavigationScreen .selected-chapter-circle {
    background: url('/NavigationScreen/selected_chapter_circle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
